
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<p>BUrası kendi oluşturduğumuz view sayfasıdır</p>
<table>
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Meslek</th>
    
        <td>Yasin</td>
        <td>Tonbul</td>
        <td>Garson</td>
    </tr>
</table>
